@{
    ViewData["Title"] = "Home Page";
}

<section class="bg-top-center bg-repeat-0 pt-5" style="background-image: url('/img/bg.png'); background-size: 1920px 630px; min-height: 630px;">
    <div class="py-5 container">
        <div class="pt-lg-4 pt-xl-5 row">
            <div class="pt-3 pt-md-4 pt-lg-5 col-lg-4 col-md-5">
                <h1 class="display-4 text-light pb-2 mb-4 me-md-n5">Easy way to find the right laptop</h1>
                <p class="fs-lg text-light opacity-70">Laplace is your one-stop destination for the latest and greatest laptops.</p>
                <a class="btn btn-primary btn-lg mt-3" asp-controller="Catalog" asp-action="Index">
                    Browse Laptops
                </a>
            </div>
            <div class="pt-md-5 col-lg-8 col-md-7">
                <div class="d-flex mt-4 ms-auto" style="max-width: 800px;">
                    <img alt="PC" class="w-100" src="~/img/home.png"> 
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="py-5 container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <h2 class="h3 text-light mb-2 mb-sm-0">What sets Laplace apart?</h2>
        </div>
        <div class="row">
            <div class="pt-4 mt-2 pt-md-5 mt-md-3 col-lg-4 col-md-5 offset-lg-1">
                <div class="d-flex pb-4 pb-md-5 mb-2">
                    <i class="fas fa-laptop-code lead text-primary mt-1 order-md-2"></i>
                    <div class="text-md-end ps-3 ps-md-0 pe-md-3 order-md-1">
                        <h3 class="h6 text-light mb-1">Over 10,000 Listings</h3>
                        <p class="fs-sm text-light opacity-70 mb-0">That's more than you'll find on any other major online laptop marketplace.</p>
                    </div>
                </div>
                <div class="d-flex pb-4 pb-md-5 mb-2">
                    <i class="fas fa-search lead text-primary mt-1 order-md-2"></i>
                    <div class="text-md-end ps-3 ps-md-0 pe-md-3 order-md-1">
                        <h3 class="h6 text-light mb-1">Advanced Search</h3>
                        <p class="fs-sm text-light opacity-70 mb-0">Our advanced search makes it easy to find the perfect laptop based on your needs and budget.</p>
                    </div>
                </div>
                <div class="d-flex pb-4 pb-md-5 mb-2">
                    <i class="fas fa-cog lead text-primary mt-1 order-md-2"></i>
                    <div class="text-md-end ps-3 ps-md-0 pe-md-3 order-md-1">
                        <h3 class="h6 text-light mb-1">New Laptops Daily</h3>
                        <p class="fs-sm text-light opacity-70 mb-0">Our team updates the website with new laptops daily, so you can always find the latest models.</p>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-block col-md-2">
                <div id="wrapper" class="position-relative mx-auto" style="max-width: 5rem; min-height: 26rem;">
                    <div class="position-absolute top-0 start-50 translate-middle-x h-100 overflow-hidden mt-n5">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="2" height="656" x="0px" y="0px" viewBox="0 0 2 656">
                            <path fill="#fff" fill-opacity=".16" d="M2,335.1V354H0l0-18.9H2z M2,368.6v18.9H0l0-18.9H2z M2,402.1v18.9H0l0-18.9H2z M2,435.7v18.9H0l0-18.9H2z M2,469.2v18.9H0l0-18.9H2z M2,502.8v18.9H0l0-18.9H2z M2,536.3v18.9H0l0-18.9H2z M2,569.9v18.9H0l0-18.9H2z M2,603.4l0,18.9H0l0-18.9H2z M2,637v9.5v9.5H0L0,637H2z"></path><g fill-opacity=".16"><path fill="#fff" d="M2,18.9H0L0,0h2V18.9z"></path><path fill="#fff" d="M2,52.5H0l0-18.9h2V52.5z"></path><path fill="#fff" d="M2,86H0l0-18.9h2V86z"></path><path fill="#fff" d="M2,119.6H0l0-18.9h2V119.6z"></path><path fill="#fff" d="M2,153.1H0l0-18.9h2V153.1z"></path><path fill="#fff" d="M2,186.7H0l0-18.9h2V186.7z"></path><path fill="#fff" d="M2,220.2H0l0-18.9h2V220.2z"></path><path fill="#fff" d="M2,253.8H0l0-18.9h2V253.8z"></path><path fill="#fff" d="M2,287.3H0l0-18.9h2L2,287.3z"></path><path fill="#fff" d="M2,320.8H0l0-18.9h2v9.5V320.8z"></path>
                        </g>
                        </svg>
                    </div>
                </div>
            </div><div class="pt-md-5 mt-md-3 col-lg-4 col-md-5">
          <div class="d-flex pb-4 pb-md-5 mb-2">
            <i class="fas fa-info-circle lead text-primary mt-1"></i>
            <div class="ps-3">
              <h3 class="h6 text-light mb-1">Expert Reviews</h3>
              <p class="fs-sm text-light opacity-70 mb-0">We provide in-depth expert reviews and ratings on all our laptops to help you make an informed decision.</p>
            </div>
          </div>
          <div class="d-flex pb-4 pb-md-5 mb-2">
            <i class="fas fa-users lead text-primary mt-1"></i>
            <div class="ps-3">
              <h3 class="h6 text-light mb-1">Customer Service</h3>
              <p class="fs-sm text-light opacity-70 mb-0">Our dedicated customer service team  is available 24/7 to answer any questions.
            </div>
          </div>
          <div class="d-flex pb-4 pb-md-5 mb-2">
            <i class="fas fa-credit-card lead text-primary mt-1"></i>
            <div class="ps-3">
              <h3 class="h6 text-light mb-1">Flexible Payment Options</h3>
              <p class="fs-sm text-light opacity-70 mb-0">We offer a variety of payment options, including financing and leasing, to make it easy for you to purchase the laptop of your dreams.</p>
            </div>
          </div>
</div>
</div>
</div>
</section>

<section>
    <div class="container d-flex flex-column align-items-center text-white">
        <h3>Latest laptops</h3>
        <div class="d-flex flex-wrap justify-content-center align-items-stretch" style="margin-left: -16px; margin-right: -16px;">
            @foreach (var item in (List<Product>)ViewData["LatestProducts"]!)
            {
                <div class="p-3 d-flex flex-column" style="width: 350px">
                    <div class="card bg-dark text-white flex-grow-1">
                        <div style="width: 100%; aspect-ratio: 1 / 1; background-image: url('@item.Image'); background-size: contain; background-position: center; background-repeat: no-repeat;" class="card-img-top" alt="@item.Name"></div>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@(item.Description.Substring(0,Math.Min(100,item.Description.Length))+"...") </p>
                            <p class="card-text text-end mt-auto lead">@item.Price <small>TND</small></p>
                            <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">More Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <a class="btn btn-primary btn-lg my-5 px-4 mx-auto" asp-controller="Catalog" asp-action="Index">
            Browse Products <i class="fas fa-arrow-right"></i>
        </a>
    </div>
</section>